<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA"/>
    
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidEssentials"
        tools:targetApi="31">

        <activity android:name="com.khyzhun.androidessentials.a_activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidEssentials">
        </activity>
        <activity android:name="com.khyzhun.androidessentials.b_lifecycle.LifecycleActivity" />
        <activity android:name="com.khyzhun.androidessentials.c_intents.ExplicitIntentAActivity" />
        <activity android:name="com.khyzhun.androidessentials.c_intents.ExplicitIntentBActivity" />
        <activity android:name="com.khyzhun.androidessentials.c_intents.ImplicitIntentActivity" />
        <activity android:name="com.khyzhun.androidessentials.c_intents.IntentSenderActivity" />
        <activity android:name="com.khyzhun.androidessentials.c_intents.IntentReceiverActivity" />
        <activity android:name="com.khyzhun.androidessentials.e_permissions.PermissionsActivity" />

    </application>

</manifest>